@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000315}}
body, html {
  background: #fafafa; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000318}}
.header {
  display: block;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000322}}
.pchead_img {
  background: url("../images/img_banner.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 9.375rem;
  position: absolute;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000330}}
.pcheader_box {
  display: block;
  position: relative;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000335}}
  .pcheader_box dl dt {
    padding-top: 1.796875rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000337}}
    .pcheader_box dl dt h3 {
      text-align: center;
      font-size: 0.55rem;
      padding-top: 1.25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000341}}
      .pcheader_box dl dt h3 img {
        display: inline-block;
        vertical-align: middle;
        width: 2.25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000346}}
      .pcheader_box dl dt h3 span {
        padding-left: 10px;
        margin-left: 10px;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000350}}
        .pcheader_box dl dt h3 span:after {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          display: block;
          height: 80%;
          width: 2px;
          background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000363}}
    .pcheader_box dl dt .imgp {
      padding: 0.75rem 0 0 0;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000366}}
      .pcheader_box dl dt .imgp img {
        width: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000370}}
    .pcheader_box dl dt .pcheaderbox_p {
      font-size: 0.5rem;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000375}}
  .pcheader_box dl dd {
    width: 8rem;
    margin: 0.875rem auto 0 auto;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 5px 20px rgba(194,196,255,0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000383}}
    .pcheader_box dl dd img {
      width: 3rem;
      float: left;
      margin: 0.25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000388}}
    .pcheader_box dl dd div {
      float: left;
      padding: 0.5rem 0 0 0.3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000391}}
      .pcheader_box dl dd div h3 {
        color: #6B58C9;
        font-size: 0.5rem;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\0000396}}
      .pcheader_box dl dd div p {
        color: #888;
        font-size: 0.3rem;
        margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003101}}
      .pcheader_box dl dd div .btn_changanshibie {
        display: block;
        background: url(../images/btn_changanshibie.png) center center no-repeat;
        background-size: 100%;
        width: 3rem;
        height: 1.3rem;
        text-align: center;
        margin-top: 0.25rem;
        color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003115}}
.contop_box {
  width: 9rem;
  margin: 1.25rem auto 0 auto;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003119}}
  .contop_box dl {
    display: inline-block;
    width: 4.5rem;
    float: left;
    text-align: center;
    margin: 0 0 0.75rem 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003126}}
    .contop_box dl dt img {
      width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003130}}
    .contop_box dl dd {
      color: #888;
      font-size: 0.35rem;
      width: 140px;
      text-align: center;
      line-height: 1.8;
      margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003137}}
      .contop_box dl dd p {
        color: #333;
        font-size: 0.45rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003144}}
.contai_tit {
  font-size: 0.3rem;
  color: #999;
  text-align: center;
  margin: 1rem 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003149}}
  .contai_tit p {
    color: #333;
    font-size: 0.75rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003154}}
.contai_addre {
  width: 8.5rem;
  margin: 1rem auto;
  position: relative;
  height: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003159}}
  .contai_addre .labels {
    content: '';
    height: 4px;
    background: #F6F3FF;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003169}}
  .contai_addre span {
    font-size: 0.5rem;
    color: #333;
    background: url(../images/ico_address.png) 0px center no-repeat #fafafa;
    position: relative;
    padding: 0 20px 0 40px;
    z-index: 99;
    vertical-align: 1rem;
    line-height: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003180}}
.contai_list {
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003182}}
  .contai_list ul {
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003185}}
  .contai_list li {
    display: block;
    box-shadow: 0 5px 20px #bdc8ec;
    width: 8rem;
    margin: 1.5rem auto 3rem auto;
    background: #fff;
    border-radius: 5px;
    font-size: 0.3rem;
    color: #666;
    position: relative;
    height: 5rem;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003197}}
    .contai_list li img {
      position: absolute;
      left: 50%;
      top: -50px;
      margin-left: -65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003203}}
    .contai_list li p {
      font-size: 0.5rem;
      padding: 2.375rem 0 0.25rem 0;
      color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003208}}
    .contai_list li label {
      width: 72%;
      display: block;
      margin: 0 auto;
      line-height: 1.6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003216}}
.foot_p {
  color: #7683E0;
  font-size: 0.35rem;
  text-align: center;
  position: relative;
  top: -1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003223}}
.footer {
  background: #7b74dc; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003225}}
  .footer .footer_box {
    width: 9rem;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 0.35rem;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003232}}
  .footer .footerbox_t {
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003234}}
    .footer .footerbox_t .footer_l {
      float: left;
      width: 50%;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003241}}
  .footer .footer_r {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 0.4rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003245}}
    .footer .footer_r .footer_last {
      font-size: 0.35rem;
      padding-top: 0.2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lenovo\/Desktop\/home\/css\/mobile\.scss}line{font-family:\00003250}}
  .footer .footer_num {
    font-size: 0.45rem; }

/*# sourceMappingURL=mobile.css.map */
